

.breed-list-container {
    font-family: fantasy;
    display: grid;
    grid-template-columns: 1fr 2fr;

}


.breed-display{
    text-align: left;
    background: purple;
}


.links-container{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow-y: scroll;
}

.homepage{
    display: grid;
    text-align: center;
    height: 100vh;
    justify-self: center;
    
}